body{
    width: 1260px;
    margin: auto;
    background-color: #0C1014;
}

.contenido{
    background-image: url('../img/fondo_registro.png');
    background-size: cover;      /* Ajusta la imagen */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opcional */
    height: 720px;
    padding: 20px;
}

.contenido form{
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 700px;
    margin: auto;
    background: #0C1014;
    color: aliceblue;
    opacity: .9;
    box-shadow: 20px 20px 20px black;
}

.contenido form input, label, h1,h4{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenido form textarea{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 450px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenido form .solicitar{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 450px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color:aliceblue;
    font-size: 15px;
    background: #29A71A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label::after {
  content: " *";
  color: #ff0000;
}

.contenido form .solicitar:hover{
    width: 451px;
    height: 36px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
}

.contenido form a{
    margin-left: 220px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color:aliceblue;
    font-size: 15px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenido form a:hover{
    text-decoration: underline;
}
