*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.menu_lateral{
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #212c36;
    padding: 20px;
}

.menu_lateral img{
    height: 50px;
    border-radius: 5px;
}

.menu_lateral .menu a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    margin-left: 5px;
    border-radius: 10px;
    padding-left: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.menu_lateral .menu a:hover{
    cursor: pointer;
    background-color: #29A71A;
}

.menu_lateral .cerrar{
    color: #29A71A;
    text-decoration: none;
    margin-top: 100px;
    margin-bottom: 0;
    display: flex;
}

.menu_lateral .cerrar:hover{
    text-decoration: underline;
    cursor: pointer;
}

.contenido{
    background-color: #0C1014;
    height: 100vh;
    margin-left: 250px;
}

.contenido .menu_superior{
    height: 60px;
}

.contenido .menu_superior .registrar{
    width: 60px;
    height: 50px;
    border-radius: 10px;
    margin: 10px 10px;
    background-color: #0C1014;
    border: none;
}

.contenido .menu_superior .registrar img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.contenido .menu_superior .registrar:hover{
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.contenido .estadisticas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1000px;
    margin: 20px auto;
}

.contenido .estadisticas .estados{
    background-color: #212c36;
    width: 230px;
    border-radius: 10px;
    margin: auto;
    height: 130px;
    padding-top: 10px;
}

.contenido .estadisticas .estados h2{
    font-size: 18px;
    height: 20px;
    width: 200px;
    margin: auto;
    text-align: center;
}

.contenido .estadisticas .estados h3{
    font-size: 25px;
    margin: auto;
    width: 70px;
    text-align: center;
}

.contenido .estadisticas .estados img{
    height: 60px;
    display: flex;
    margin: auto;
    border-radius: 10px;
}

.contenido .navegacion{
    width: 1000px;
    margin: auto;
}

.contenido .navegacion input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
    color: black;
    border: none;
}

.contenido .navegacion .buscar{
    background-color: #44bd32;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 18px;
    height: 28px;
}

.contenido .registros{
    background-color: #0C1014;
    border: 1px solid #44bd32;
    height: 550px;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    padding: 30px 30px;
}

.contenido .registros .registrarDatos .datos{
    display: block;
    width: 300px;
    height: 30px;
    margin: 10px 30px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    color: black;
}

.contenido .registros .registrarDatos p{
    margin-bottom: 20px;
}

.contenido .registros .boton_cerrar{
    background: #44bd32;
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
}

.contenido .registros .boton_cerrar:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
}