body{
    width: 1260px;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0C1014;
}


.presentacion{
    width: 100%;
    height: 450px;
    background-image: url("../img/imagen_presentacion_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    border-bottom: 1px solid white;
}

.presentacion h1{
    font-size: 40px;
    margin: 10px 100px 0%;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.presentacion p{
    font-size: 80px;
    margin: 0% 100px;
    width: 500px;
    font-size: 20px;
}

.presentacion .botones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 100px;
    width: 450px;   
}

.presentacion .botones .boton_1{
    width: 200px;
    height: 50px;
    background: #29A71A;
    color: aliceblue;
    border-radius: 5px;
    border: whitesmoke;
    
}

.presentacion .botones .boton_1:hover,
.presentacion .botones .boton_2:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
}

.presentacion .botones .boton_2{
    width: 200px;
    height: 50px;
    color: aliceblue;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #29A71A;
}

.presentacion .botones .boton_1 .texto_botones,
.presentacion .botones .boton_2 .texto_botones{
    margin-left: 10px;
    width: 180px;
}

.informacion .como_funciona .funciones .seccion_informacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.informacion .como_funciona .titulo_informacion{
    margin: auto;
    color: aliceblue;
    width: 500px;
    text-align: center;
    margin: 20px auto;
}

.informacion .como_funciona .funciones .seccion_informacion .apartado{
    width: 210px;
    margin: auto;
    text-align: center;
}

.informacion .como_funciona .funciones .seccion_informacion .apartado .imagen{
    height: 80px;
    border-radius: 30%;
    margin-bottom: 0;
}

.informacion .como_funciona .funciones .seccion_informacion .apartado h3{
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
}

.informacion .como_funciona .funciones .seccion_informacion .apartado p{
    color: aliceblue;
    margin-top: 0;
}

.consultar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1150px;
    margin: auto;
}

.consultar .jugadores{
    background-image: url("../img/imagen_consulta_jugadores.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 550px;
    border: 1px solid #29A71A;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:aliceblue;
}

.consultar .compradores{
    background-image: url("../img/imagen_consulta_canchas.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 550px;
    border: 1px solid #29A71A;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:aliceblue;
}

.consultar .jugadores h1,
.consultar .compradores h1{
    margin-left: 30px;
}

.consultar .jugadores p,
.consultar .compradores p{
    width: 300px;
    margin-left: 30px;
}

.consultar .jugadores button,
.consultar .compradores button{
    height: 40px;
    width: 150px;
    font-size: 15px;
    color:aliceblue;
    background: #29A71A;
    border: none;
    border-radius: 5px;
    margin: 0 30px;
}

.consultar .jugadores button:hover,
.consultar .compradores button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
}

.consulta{
    background-image: url("../img/fondo_jugador_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 180px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color:aliceblue;
}



.consulta .contacto{
    width: 700px;
    height: 150px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 500px;
}

.consulta .contacto .informacion{
    width: 500px;
}

.consulta .contacto h1{
    margin-bottom: 0;
    font-size: 30px;
    width: 450px;
}

.consulta .contacto p{
    margin-top: 0;
    font-size: 18px;
}

.consulta .contacto a{
    text-decoration: none;
}

.consulta .contacto button{
    height: 40px;
    width: 200px;
    font-size: 15px;
    color:aliceblue;
    background: #29A71A;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
}

.consulta .contacto button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px black;
}
